* {
  box-sizing: border-box;
}

.screen{
	width: 100vh;
	display: flex;
	flex-direction: row;


}

.screen__page{
	width: 323px;
	height: 673px;
	background-color: rgb(114, 243, 9);
	margin: 10px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;


}
.screen__nav{
	display: flex;
	justify-content: space-between;
	margin: 24px;
}

.screen__main{
	display: flex;
	flex-direction: column;
	align-items: center;
	

}
.screen__image img{
	width: 77px;
	height: 77px;
	border-radius: 50%;
	box-shadow: 1px 7px 15px 1px rgba(254, 255, 254, 0.877);
}

.screen__text{display: flex;
	justify-content: space-around;
align-items: center ;
flex-direction: column;
}

.screen__text__singer{
	font-weight: 600;
	font-size: 20px;
	margin-top: 30px;
	color: rgb(245, 50, 170);
}


.screen__text__style{
	color: rgba(0,0,0,0.3);
	font-size: 12px;
	margin-top: 15px;
}


.screen__btn{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
margin: 10px 45px;

}

.screen__btn__sf, .screen__btn__like{
	border-radius: 20px;
	width: 96px;
	height: 36px;
	display: flex;
justify-content: center;
align-items: center;
flex-direction: column;	box-shadow: 1px 7px 10px 1px rgba(254, 255, 254, 0.877);
}

.screen__btn__sf{
	background-color:tomato;
	color: white;
}

.screen__btn__like{color: tomato;
background-color: white;}
.screen__btn__like__number{
	color: rgba(156, 80, 35, 0.5);
}

.screen__playlist{

	display: flex;
align-items: center;
flex-direction: column;
margin-top:-10px;

}

.screen__playlist__song{
	display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: row;
margin-top: 20px;
width: 266px;
height: 55px;
border-radius: 40px;
box-shadow: 1px 5px 5px 1px rgba(254, 255, 254, 0.678);
background-color: rgba(152, 247, 0, 0.3);



}
.screen__playlist__song__image  img
{width: 40px;
	height: 40px;
border-radius: 10px;
margin-left: -30px;}


.screen__playlist__song__text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: -70px;
	justify-content: space-around;

}



.screen__playlist__song__text span:first-child{
	font-size: 15px;
	color: rgba(158, 37, 37, 0.3)
	;
	margin-top: 0px;
}

.screen__playlist__song__text span:last-child{
color: rgb(41, 44, 44);
	margin-top: 4px;
}
.screen__playlist__song i{
	margin-right: -30px;
	color: rgb(121, 129, 121);
}


.screen__play-button{
	width: 266px;
	height: 55px;
	background-color: tomato;
border-radius: 40px;
box-shadow: 1px 7px 10px 1px rgba(254, 255, 254, 0.877);
display: flex;
flex-direction: row;
position: relative;

}

.screen__play-button__text{
	display: flex;
	flex-direction: column;
	text-align:center;
position: absolute;
top:10px;
left:45px;
}

.screen__play-button__text span:first-child{
font-size: 15px;
color: rgba(255, 255, 255, 0.5);
margin-bottom: 5px;
font-weight: 600;
}

.screen__play-button__text span:last-child{
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 5px;
	font-weight: 600;
	}
	
	.screen__play-button__control{
		display: flex;
		justify-content: space-between;
		width: 50px;
		height: 23px;
		margin-right:-80px;
		margin-top: 10px;
	}
	.screen__play-button__control i{
	color: aliceblue;}


.screen__page-2{
	display: flex;
	flex-direction: column;
	align-items: center;
justify-content: center;
}


	.screen__picture img
{
	margin-top: 80px;
	border-radius:20px;
width:208px;
height:208px;
box-shadow: 1px 7px 10px 1px rgba(254, 255, 254, 0.877);}

.info__title{
	display: flex;
	flex-direction: column;
	align-items: center;
justify-content: center;
margin-top: 50px;
}
.info__title span:first-child{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 18px;
	color: rgb(255, 101, 216);
}

.info__title span:last-child{
	font-size: 14px;
	font-weight: 600;
	color: rgb(255, 255, 255);
}

input{margin-top: 40px;}

.status__bar{
	margin-top: 40px;
	width:230px;
	height: 50px;
	display: flex;
	flex-direction: row;
justify-content: space-around;
align-items: center;
color: rgb(248, 117, 41);
}

.status__bar i:first-child,.status__bar i:last-child{color: rgb(255, 138, 117);
}

.progress__bar{
	display: flex;
	flex-direction: column;
	margin-top: 40px;

}

.progress__bar__bar{
	width: 230px;
	height: 5px;
	background-color:rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	box-shadow: 1px 7px 10px 1px rgba(254, 255, 254, 0.877);
}

.progress__bar__bar__steal{
	width: 100px;
	height: 5px;
	background-color:rgb(255, 104, 4);
}

.progress__bar__mark{
	border-radius: 50%;
	width: 9px;
	height: 9px;
	background-color: tomato;
position: absolute;
top:-2px; right: 127px;
}

.progess__bar__time{
	color: white;	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

