@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body
{background-color: white;

height: 800px;
display: flex;
margin-top:-60px;
flex-direction: column;
align-items: center;
justify-content: space-around;

}

.navigator{
	background-color: rgb(255, 187, 0);
	height: 101px; 
	width: 326px;
	display: flex;
	align-items: center;
	flex-direction: column;
position: relative;	
}

.navigator__bar
{position: absolute;
		top:33px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 326px;


}

.navigator__bar__menu
{
	margin-left:-30px ;
}
.navigator__bar__title
{
	font-size: 20px;
}
.navigator__bar__basket{
	margin-right: -30px;
}
.navigator__search
{	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	top:77px; right: -5px;
}
.navigator__search__text{
	height: 47px;
	width:320px;
	background-color: white;
	border: none;
	border-radius: 25px;
	display: flex;
	align-items: center;
	margin-left: -10px;
	-webkit-box-shadow: 5px 5px 26px 5px rgba(119,119,119,0.18); 
box-shadow: 5px 5px 26px 5px rgba(119,119,119,0.18);

}
.navigator__search__text span{
margin-left: 40px;
opacity: 0.3;
}
.navigator__search__icon{
	position: absolute;
	top:15px;
	right:15px;
	opacity: 0.2;
}

.daybook{
height: 165px;
position: relative;
top:-50px;
width: 302px;
}
.daybook__title{
	font-weight: bold;
	font-size: 20px;
}
.daybook__ins{
	position: absolute;
	top:30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}
.daybook__ins__pic img{
	width: 102px;
	height: 150px;
	border-radius: 10px;
}
.daybook__ins__text{
	height: 150px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-left: 20px;
	width: 180px;
}

.daybook__ins_text__title{
	font-size: 20px;
}
.daybook__ins__text__text
{
	font-size: 15px;
	opacity: 0.2;
}

.daybook__ins__text__rate
{
	color: rgb(255, 217, 0);
}
.daybook__ins__text__category{
	width: 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	left:0px;
}
.daybook__ins__text__category__1,.daybook__ins__text__category__2
{
	font-size: 12px;
	background-color: rgb(245, 245, 245);
	border-radius: 20px;
	width: 72px;
	height: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.daybook__ins__text__category__2{
	right: 10px;
}
.daybook__ins__text__last{position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
align-items: center;

}

.daybook__ins__text__last__bookmark{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: rgb(255, 208, 0);
	color: rgb(46, 35, 16);
	display: flex;
	justify-content: center;
	align-items: center;

}
.daybook__ins__text__last__booking{
	right: 10px;;
	width: 97px;
	height: 33px;
	background-color: rgb(46, 35, 16);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.top{
height: 180px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
	width: 335px;
	position: relative;
	top: -40px;
}
.top__title
{position: absolute;
	font-size: 20px;
	font-weight: bold;
left:20px;
top:-70px;}

.top__books{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
position: absolute;
left: 10px;
top:-50px;
}
.top__books__book{
	width: 67px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
	height: 130px;
	margin: 10px;
	
}


.top__books__book__pic {
	width: 67px;
	height: 102px;
	border-radius: 7px;
	top:-60px;
}
.top__books__book__rate {
	color: rgb(255, 187, 0);		
font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}

.author{
display: flex;
flex-direction: column;
top:120px;
left: 10px;
position: relative;

}
.author__title{
	font-size: 20px;
	font-weight: bold;

}

.author__ins{
	display: flex;
	position: relative;
	top:20px;
}


.author__ins__text
{margin-left: 20px;
	display: flex;
	flex-direction: column;
	width: 180px;
	justify-content: space-around;
}
.author__ins__text__title{
	font-size: 20px;}

	.author__ins__text__text{
		font-size: 14px;
		opacity: 0.3;
	}

.author__ins__pic img{
	width:107px;
	height: 132px;
	border-radius: 10px;
}

.author__ins__text{
	display: flex;
	flex-direction: column;
}