
* { color: rgb(226, 245, 52); } 

@media screen and(max-width:414px;)
{body{background-color:black;}}


h1
 {
 color: rgb(233, 240, 214); } 
h2 { color: rgb(224, 247, 160); } 
h3{color: rgb(214, 252, 109);}
h4{color: rgb(204, 247, 85);}
h5{color: rgb(189, 255, 6);}
p{color: rgb(250, 0, 0);}
sub,sup,label,button,select{color: rgb(0, 0, 0);}
b,strong,i,em{color: rgb(6, 226, 255);}
del,ins{color: rgb(189, 255, 6);}
body {height:150vh; background-repeat:no-repeat; background-image: url('./images/pic.png'); background-repeat: no-repeat;font-family:Verdana, Geneva, Tahoma, sans-serif; } 
a
{color: rgb(238, 255, 6);}

.small {flex-direction: row; align-items: space-evenly; position: fixed; } 

.small__one
 {
 width: 100px; } 

.small__one:last-child
 {
 right: 10px; width: 120px; } 
 #isol
 {
 position: absolute;right: 30px; bottom: 70px;width: 100px; } 
footer{
	color: tomato;
	position: absolute;
	bottom: -500px; right:200px;
}