@import "reset.css";

@import "variables.css";
@import "status-bar.css";
@import "nav-bar.css";
@import "screen.css";
@import "login.css";
@import "friends.css";
@import "user-component.css";
@import "badge.css";
@import "find.css";
@import "icon-row.css";
@import "more.css";
@import "alt-screen-header.css";
@import "setting.css";
@import "chat.css";
@import "no-mobile.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');


body {
  font-family: 'Josefin Sans', sans-serif;
  
  height: 1000vh;
  
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

